html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	/* background-color: #ccc; */
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
}

.header {
	background: #151515;
}

/* .header-main {
	background: transparent;
} */

.header__inner {
	padding-top: 40px;
	padding-bottom: 45px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.menu__list {
	display: flex;
	gap: 35px;
}

.menu__list-link {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}

.footer {
	background-color: #151515;
	padding: 50px 0 32px;
	color: #fff;
}

.footer__menu {
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}

.footer__menu-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 250px;
}

.footer__menu-title {
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 20px;
}

.app {
	display: flex;
	justify-content: center;
	gap: 40px;
	margin-bottom: 52px;
}

.footer__copy {
	max-width: 810px;
	margin: 0 auto 30px;
	text-align: center;
}
