@import '../vars';

.header {
	background: url(../images/header-bg.jpeg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;

	&__burger {
		display: none;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__items {
		display: flex;
	}

	&__menu {
		display: flex;
		gap: 25px;
	}

	&__menu-link {
		color: $light-color;
		font-family: $alt-font;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-decoration: none;
	}
}
