@import "../vars";

.btn {
  padding: 14px 18px;
  background-color: #ff7400;
  color: #fff;
  font-family: $sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
