@import '../vars';

.header {
	max-width: 100%;
	background: url(../img/header.jpg);
	min-height: 1460px;
	text-align: center;

	&-top-titles {
		max-width: 680px;
		margin: 0 auto;
	}

	&-top-title {
		font-size: 60px;
		color: $main-color;
		font-weight: 300;
		padding: 190px 15px 33px 15px;
	}

	&-top-text {
		color: $secondary-color;
		font-size: 20px;
	}

	&-bottom {
		margin-top: 600px;
	}

	&-bottom-items {
		max-width: 950px;
		margin: 0 auto;
		padding-bottom: 37px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&-bottom-title {
		margin-top: 40px;
		color: $light-color;
		font-size: 40px;
		font-weight: 300;
	}

	&-bottom-text {
		color: #a87bb7;
		font-size: 20px;
		padding: 37px 0;
		line-height: 33px;
	}

	&-scr-to {
		order: -1;
	}
}
